<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>shipping helper</title>
</head>
<body>
    {% load crispy_forms_tags %}
    {% if error_message %}
        {% for key,errors in error_message.items %}
            <div class="alert alert-danger alert-dismissible">
                <p><strong>{{key}}:</strong></p>
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    <form action = "{% url 'home:submit' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-sm-6 mb-0 sender">
              <h2>Sender</h2>
              {{ form.sender_address_1|as_crispy_field }}
              {{ form.sender_address_2|as_crispy_field }}
              {{ form.sender_city|as_crispy_field }}
              {{ form.sender_zip_code|as_crispy_field }}
              <div class="form-row">
                  <div class="form-group col-sm-6 mb-0">
                      {{ form.sender_country|as_crispy_field }}
                  </div>
                  <div class="form-group col-sm-6 mb-0">
                      {{ form.sender_state|as_crispy_field }}
                  </div>
              </div>
          </div>
          <div class="form-group col-sm-6 mb-0">
              <h2>Recipient</h2>
              {{ form.recipient_address_1|as_crispy_field }}
              {{ form.recipient_address_2|as_crispy_field }}
              {{ form.recipient_city|as_crispy_field }}
              {{ form.recipient_zip_code|as_crispy_field }}
              <div class="form-row">
                  <div class="form-group col-sm-6 mb-0">
                      {{ form.recipient_country|as_crispy_field }}
                  </div>
                  <div class="form-group col-sm-6 mb-0">
                      {{ form.recipient_state|as_crispy_field }}
                  </div>
              </div>
              {{form.recipient_resident|as_crispy_field}}
          </div>

        </div>
        <h2>Dimensions</h2>
        <div class="form-row">
          <div class="form-group col-sm-4 mb-0">
            {{ form.height|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 mb-0">
            {{ form.width|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 mb-0">
            {{ form.length|as_crispy_field }}
          </div>
        </div>
        {{ form.weight|as_crispy_field }}
        {{ form.unit|as_crispy_field }}

      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% endblock %}

</body>
</html>
